appdirs==1.4.3
asn1crypto==0.22.0
astroid==1.4.9
atlassian-jwt-auth==2.10.2
CacheControl==0.12.1
cffi==1.10.0
cryptography==1.8.1
flake8==3.3.0
httpie==0.9.9
idna==2.5
isort==4.2.5
lazy-object-proxy==1.2.2
mccabe==0.6.1
msgpack-python==0.4.8
packaging==16.8
pluggy==0.4.0
py==1.4.33
pycodestyle==2.3.1
pycparser==2.17
pyflakes==1.5.0
Pygments==2.2.0
PyJWT==1.4.2
pylint==1.6.5
pyparsing==2.2.0
pytest==3.0.7
requests==2.13.0
six==1.10.0
tox==2.7.0
virtualenv==15.1.0
wrapt==1.10.10
